<ng-template #drawerTpl>
  <div
    class="content-create-drawer-backdrop"
    data-testid="content-create-drawer-backdrop"
    aria-hidden="true"
    (click)="onBackdropClick()"
  ></div>
  <div
    class="content-create-drawer"
    role="dialog"
    aria-labelledby="content-create-title"
    aria-modal="true"
    tabindex="-1"
    data-testid="content-create-drawer"
    (keyup.escape)="onEscape()"
  >
    <div class="content-create-drawer-bg" aria-hidden="true">
      <img src="dashboard-bg.jpg" alt="" />
    </div>
    <button
      type="button"
      class="drawer-close"
      (click)="cancelCreate.emit()"
      aria-label="Close"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </button>

    <app-content-create-form
      [pillars]="pillars"
      [segments]="segments"
      [initialType]="initialType"
      (saveContent)="saveContent.emit($event)"
      (saveMany)="saveMany.emit($event)"
      (moveToProduction)="moveToProduction.emit($event)"
      (draftAssets)="draftAssets.emit($event)"
      (createConcept)="createConcept.emit($event)"
      (cancelCreate)="cancelCreate.emit()"
    />
  </div>
</ng-template>
