<ng-template #modalTpl>
  <div
    class="app-modal modal-overlay content-create-overlay"
    role="presentation"
    tabindex="-1"
    (click)="onBackdropClick($event)"
    (keyup.escape)="onEscape()"
  >
    <div
      class="modal-dialog content-create-dialog"
      role="dialog"
      aria-labelledby="content-create-title"
      aria-modal="true"
      tabindex="-1"
      (click)="stopEvent($event)"
      (keyup.escape)="onEscape()"
    >
      <button type="button" class="modal-close" (click)="cancelCreate.emit()" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </button>

      <app-content-create-form
        [pillars]="pillars"
        [segments]="segments"
        [initialType]="initialType"
        (saveContent)="saveContent.emit($event)"
        (saveMany)="saveMany.emit($event)"
        (moveToProduction)="moveToProduction.emit($event)"
        (draftAssets)="draftAssets.emit($event)"
        (createConcept)="createConcept.emit($event)"
        (cancelCreate)="cancelCreate.emit()"
      />
    </div>
  </div>
</ng-template>
